/SECURITY.md             @yutila-org/security
/CONTRIBUTING.md         @yutila-org/architecture
/.github/                @yutila-org/architecture
CITATION.cff             @yutila-org/governance
LICENSE                  @yutila-org/governance
*.nix                    @yutila-org/engineering
*.h                      @yutila-org/engineering
Makefile                 @yutila-org/engineering
hosts/                   @yutila-org/engineering
bin/                     @yutila-org/engineering
flake.lock               @yutila-org/engineering
*.md                     @yutila-org/engineering
docs/                    @yutila-org/engineering
assets/                  @yutila-org/engineering
logo.svg                 @yutila-org/engineering
.github/workflows/       @yutila-org/security @yutila-org/architecture