/SECURITY.md             @tarantula-org/security
/CONTRIBUTING.md         @tarantula-org/architecture
/.github/                @tarantula-org/architecture
CITATION.cff             @tarantula-org/governance
LICENSE                  @tarantula-org/governance
*.nix                    @tarantula-org/engineering
*.h                      @tarantula-org/engineering
Makefile                 @tarantula-org/engineering
hosts/                   @tarantula-org/engineering
bin/                     @tarantula-org/engineering
flake.lock               @tarantula-org/engineering
*.md                     @tarantula-org/engineering
docs/                    @tarantula-org/engineering
assets/                  @tarantula-org/engineering
logo.svg                 @tarantula-org/engineering
.github/workflows/       @tarantula-org/security @tarantula-org/architecture