# Nix Build Artifacts
result
result-*
.direnv
.devenv

# Secrets & Local State
*.keys
*.key
*.keys
*.pem
secrets/

# Note: hardware.nix MUST be committed for CI to pass.

# OS Noise
.DS_Store
Thumbs.db